$primeColor: #B400FF;

body{
    text-align: center;
    margin: 0px;
    font-family: 'Cardo', serif;
}

#headDiv{
    position: absolute;
}

header{
    height: 20em;
    background-color: black;
    color: ghostwhite;
    text-align: center;
    padding-top: 3.5em;
    font-size: 1.5rem;
    box-shadow: 1px 3px 5px grey;
    position: relative;
    h1{
        color: $primeColor;
        font-weight: 700;
        text-shadow: 0.5px 1.5px 2.5px lavender;
    }
}

.subHeader{
    position: relative;
    bottom: -4em;
    color:darkgray;
}

.link-btn {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    margin: 0 2em;
    box-shadow: 2px 3px 4px grey;
    background-color: $primeColor;
    a {
        color: ghostwhite;
    }
    a:hover{
        color: black;
    }
}

.git {
    position:relative;
    top: -2em;
}

.link {
    position:relative;
    top: -2em;
}

.email {
    position:relative;
    top: -2em;
}

.phone {
    position:relative;
    top: -2em;
}

.twit {
    position:relative;
    top: -2em;
}

#bodyDiv{
    margin: 0.5em 5em;
}

.margx3 {
    margin-top: 5em;
    margin-bottom: 5em;
}

.about{
    background-color: ghostwhite;
    box-shadow: 1px 3px 5px grey;
    padding: 1.25em;
    height: auto;
    width: auto;
}

.context {
    display: flex;
    // flex-wrap: nowrap;
    text-align: left;
    p {
        line-height: 1.75rem;
        font-weight: bold;
        letter-spacing: 0.05rem;
        margin: 1.25em;
    }
}

.img {
    background-color: $primeColor;
    height: 18em;
    width: 18em;
    border-radius: 50%;
}

.code-skills{
    display: inline-block;
}

.skill {
    height: 8em;
    width: 8em;
    border-radius: 50%;
    display: inline-block;
    margin: 1em;
    background-color: $primeColor;
    border: 1px solid ghostwhite;
    box-shadow: 1px 2px 3px grey;
        p{
            margin-top: 2.5em;
            font-weight: 700;
            font-size: 1.25rem
        }
}

.past {
    background-color: ghostwhite;
    box-shadow: 1px 3px 5px grey;
    padding: 1em;
}


footer {
    background-color: black;
    height: auto;
    color:ghostwhite;
    padding: 2em;
}
