body {
  text-align: center;
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

#headDiv {
  position: absolute; }

header {
  height: 20em;
  background-color: black;
  color: ghostwhite;
  text-align: center;
  padding-top: 3.5em;
  font-size: 1.5rem;
  box-shadow: 1px 3px 5px grey; }

.link-btn {
  height: 4em;
  width: 7em;
  border-radius: 10%;
  margin: 0 2em;
  background-color: ghostwhite; }

.git {
  position: relative;
  top: -25px;
  left: 0px; }

.link {
  position: relative;
  top: -25px;
  left: 0px; }

.email {
  position: relative;
  top: -25px;
  left: 0px; }

.phone {
  position: relative;
  top: -25px;
  left: 0px; }

.twit {
  position: relative;
  top: -25px;
  left: 0px; }

#bodyDiv {
  margin: 0.5em 5em; }

.margx3 {
  margin-top: 5em;
  margin-bottom: 5em; }

.about {
  background-color: ghostwhite;
  box-shadow: 1px 3px 5px grey;
  padding: 1em;
  display: inline-block;
  overflow: auto; }

.context {
  display: inline-block; }
  .context p {
    float: left; }

.img {
  background-color: #08eff7;
  height: 15em;
  width: 15em;
  border-radius: 50%;
  float: right; }

.code-skills {
  display: inline-block; }

.skill {
  height: 8em;
  width: 8em;
  border-radius: 50%;
  display: inline-block;
  margin: 1em;
  background-color: aquamarine; }

.past {
  background-color: ghostwhite;
  box-shadow: 1px 3px 5px grey;
  padding: 1em; }

footer {
  background-color: black;
  height: auto;
  color: ghostwhite;
  padding: 2em; }
