$primeColor: #0073FF;

body{
    text-align: center;
    align-content: center;
    margin: 0px;
    font-family: 'Cardo', serif;
}

#headDiv{
    position: absolute;
}

#bodyDiv {
    margin-left: 0px;
    margin-right:0px;
}

nav {
    opacity: 0.75;
    .nav-link:hover{
        background-color: grey;
    }
}

.navbar-light .navbar-nav .nav-link {
    color:black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:white;
}


header{
    height: 31em;
    width: 100vw;
    background-color: black;
    background-image: url('./images/temple-unsplash-cropped.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: ghostwhite;
    text-align: center;
    padding-top: 3.5em;
    font-size: 1.5rem;
    position: relative;
    h1{
        color: $primeColor;
        font-weight: 700;
        text-shadow: 0.5px 1.5px 2.5px white;
        font-size: 4rem;
    }
    h3{
        font-size: 2rem;
    }
}

.subHeader{
    position: relative;
    bottom: -4em;
    color:rgb(219, 236, 255);
    h4{
        font-weight: 700;
        color:ghostwhite;
    }
}

.link-btn {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    margin: 0 2em;
    background-color: $primeColor;
    opacity: 0.75;
    a {
        color: black;
    }
    a:hover{
        color: ghostwhite;
    }
}

.git {
    position:relative;
    top: -2.25em;
}

.link {
    position:relative;
    top: -2.25em;
}

.email {
    position:relative;
    top: -2.25em;
}

.phone {
    position:relative;
    top: -2.25em;
}

.twit {
    position:relative;
    top: -2.25em;
}

.margx3 {
    margin-top: 5em;
    margin-bottom: 5em;
}

.past {
    .fa-2x{
        color: black;
        margin: 0.25em;
    }
    .fa-2x:hover{
        color: $primeColor;
    }
    .eye {
        background:white
    }
}

#p-icon:hover {
    color:white;
}

.card:hover{
    box-shadow: 3px 4px 5px grey;
}

.title {
    background-color:$primeColor;
    font-weight: 700;
    box-shadow: 2px 3px 4px grey;
    h2{
        font-size: 2rem;
    }
}

.code-skills{
    display: inline-block;
}

.skill {
    height: 8em;
    width: 8em;
    border-radius: 50%;
    display: inline-block;
    margin: 1em;
    border: 1px solid $primeColor;
    box-shadow: 1px 2px 3px grey;
        p{
            margin-top: 2.5em;
            font-weight: 700;
            font-size: 1.25rem
        }
}

.about{
    background: linear-gradient(white, #0073FF);
    background-color: $primeColor;
    padding: 1.75em;
    padding-bottom: 2em;
    height: auto;
    width: auto;
    margin-top: 3em;
}

.img {
    background-color: $primeColor;
    height: 18em;
    width: 18em;
    border-radius: 50%;
}

.context {
    display: flex;
    height: auto;
    width: auto;
    text-align: left;
    p {
        line-height: 1.75rem;
        font-weight: bold;
        letter-spacing: 0.05rem;
        margin: 1.25em;
    }
}

footer {
    background: linear-gradient( #0073FF, black);    
    height: auto;
    color:ghostwhite;
    padding: 5em;
    padding-bottom: 3rem;
    a{
        color:white;
        padding:0.50em;
        margin:1em;
    }
    a:hover{
        color:$primeColor;
    }
    p{
        color: grey;
    }
    .none{
        padding:0;
        margin:0;
        color:grey;
    }
    
    .none:hover{
        color:$primeColor;
    }
    
    .icon{
        margin: 0.75em;
    }
    
}

@media (max-width: 500px){
    body p{
        font-size:1.25rem;
    }
    nav{
        opacity: 1;
    }

    .img{
        display: none;
    }

    .card h5{
        font-size:1.50rem;
    }
    footer a{
        font-size:1.20rem;
    }
    .icon{
        display: block;
    }
    .shoutout {
        margin-top: 2em;
    }
}
